#header-image {
  width: 300px;
}

#about-background-image {
  background-image: url("./assets/img/backgroundImage.png");
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  color: #d1e1ff;
}

#about-me-image {
  width: 50vw;
}

.project {
  width: 300px;
}

.project img {
  width: 300px;
}

.certificate>div {
  width: 30vw;
}

.certificate img {
  width: 300px;
}

@media screen and (max-width: 768px) {
  #about-me-image {
    width: 100vw;
    height:min-content;
  }
  .certificate>div {
    width: 100vw;
  }
}