#header-image {
  width: 300px;
}

#about-background-image {
  background-image: url("./assets/img/backgroundImage.png");
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  color: #d1e1ff;
}

#about-me-image {
  width: 50vw;
}

.section.certificate, .certificate img {
  max-width: 450px;
}
.certificate img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #about-me-image {
    width: 100vw;
    height: min-content;
  }
}