#header-image {
  width: 300px;
}

#about-background-image {
  background-image: url("./assets/img/aboutMeImageOne.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 50vh;
  color: #d1e1ff;
}
#about-background-image .bubble {
  opacity: 0.85;
}

.duel-container {
  margin: 10px 0px;
}
.duel-container .section {
  margin: 0 auto;
}
.about-me-image {
  width: 50vw;
}

.section.bubble, .bubble img {
  transition-duration: 0.15s;
  max-width: 450px;
}
.bubble img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .duel-container .section {
    margin: 10px auto;
  }
  .about-me-image {
    width: 100vw;
  }
}