* {
  margin: 0;
  font-family: Nunito;
  color: #010c30;
}

body {
  background-color: #d1e1ff;
}

body, #root {
  overflow-x: hidden;
}

header {
  margin-bottom: 20px;
}

#root {
  min-height: 100vh;
}

i {
  font-size: 40px;
  padding: 5px;
}

p,
i,
h1,
h2,
h3 {
  color: inherit;
}

a,
header {
  font-size: 1.5em;
}

a {
  transition-duration: 0.15s;
}

p>a,
p>i,
header p {
  font-size: initial;
}

h1,
h2,
h3 {
  font-family: Montserrat;
  font-weight: bolder;
}

.section {
  background-color: #98d4ff;
  padding: 5px;
  max-width: 80vw;
  color: #010c30;
  margin: 5px;
  overflow-x: hidden;
}

.section-alt {
  background-color: #26a7f7;
  color: #d1e1ff;
  max-width: 100vw;
  overflow-x: hidden;
}

.full {
  width: 100%;
}

.split {
  width: 50%;
}

.section-alt p,
.section-alt a,
.section-alt i,
.section-alt h1,
.section-alt h2,
.section-alt h3 {
  color: #d1e1ff;
  margin: 3px;
}

.section p,
.section a,
.section i,
.section h1,
.section h2,
.section h3 {
  color: #010c30;
  margin: 3px;
}

.round {
  border-radius: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex.center {
  justify-content: center;
}

.flex.vertical-center {
  align-items: center;
}

.flex.around {
  justify-content: space-around;
}

.flex.vertical-around {
  align-content: space-around;
}

.flex.evenly {
  justify-content: space-evenly;
}

.flex.between {
  justify-content: space-between;
}

.flex.column {
  flex-direction: column;
}

.flex.nowrap {
  flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
  a {
    font-size: 1.2em;
  }

  .flex.nowrap {
    flex-wrap: wrap;
  }

  .split {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .bubble.responsive:hover img{
    max-width: 475px;
  }

  .bubble.responsive:hover {
    max-width: 475px;
  }

  a:hover {
    font-size: 1.65em;
  }
  p>a:hover {
    font-size: 1.1em;
  }
  #nav-bar>a:hover {
    font-size: 1.85em;
  }
}